@import url("https://fonts.googleapis.com/css?family=Montserrat|Muli:900&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html {
  height: 100%;
  --highlight: #ff0000;
  --text-primary: #eef0f2;
  --text-muted: #9b9d9f;
  --text-secondary: #141414;
  --background-primary: #141414;
  --background-secondary: #202020;
}

html[data-theme="light"] {
  --highlight: #ff0000;
  --text-primary: #141414;
  --text-muted: #9b9d9f;
  --text-secondary: #eef0f2;
  --background-primary: #eef0f2;
  --background-secondary: #9b9d9f;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

h1 {
  margin: 1em 0 0 1em;
  font-size: 2rem;
  font-family: "Segoe UI", sans-serif;
  text-transform: uppercase;
  font-style: bold;
  line-height: (100 / 1000) * 1em;
}

p {
  font-size: 1rem;
  line-height: (30 / 1000) * 1em;
  letter-spacing: (5 / 1000) * 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  flex: 1;
}

li::before {
  color: var(--highlight);
  content: "►";
  margin-right: 5px;
  font-weight: bold;
  padding: 3px 8px 3px 0;
}

li {
  padding: 8px 0;
}

a,
a:hover {
  color: var(--highlight);
}

.headerTitle,
.blogHeaderTitle {
  font-size: 2rem;
  font-weight: bold;
  text-transform: none;
  font-family: "Montserrat", sans-serif;
  line-height: 3rem;
  margin: 0;
  padding: 2rem 0 0 1rem;
  width: 22rem;
}

.headerSubtitle {
  font-size: 1.5rem;
  color: var(--text-muted);
  margin: 0;
  padding: 0.75rem 0 0 1rem;
}

.blogHeaderTitle {
  padding: 0;
  text-align: center;
}

.hrTitle {
  margin: 0 0 2em 2em;
  border-color: var(--highlight);
  border-width: 1.875rem;
  max-width: 11.1875rem;
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.two-column-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.underline {
  text-decoration: underline;
}

#about {
  overflow: hidden;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: var(--text-primary);
  font-size: 1.75rem;
  line-height: 2.125rem;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding-right: 2.5rem;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: var(--text-primary);
  justify-content: center;
  align-content: center;
}

.navbar-toggler {
  background-color: var(--text-primary);
}

.fa-window-close {
  color: var(--text-muted);
}

.fa-window-close:hover {
  color: var(--highlight);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .two-column-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  html {
    height: 100%;
    --highlight: #ff0000;
    --text-primary: #eef0f2;
    --text-muted: #9b9d9f;
    --text-secondary: #141414;
    --background-primary: #141414;
    --background-secondary: #202020;
  }

  html[data-theme="light"] {
    --highlight: #ff0000;
    --text-primary: #141414;
    --text-muted: #9b9d9f;
    --text-secondary: #eef0f2;
    --background-primary: #eef0f2;
    --background-secondary: #9b9d9f;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: var(--text-primary);
    background-color: var(--background-primary);
  }

  h1 {
    margin: 1em 0 0 0.5em;
    font-size: 4.6875rem;
    font-family: "Segoe UI", sans-serif;
    text-transform: uppercase;
    font-style: bold;
    line-height: (100 / 1000) * 1em;
  }

  p {
    font-size: 1.25rem;
    line-height: (30 / 1000) * 1em;
    letter-spacing: (5 / 1000) * 1em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    flex: 1;
  }

  li::before {
    color: var(--highlight);
    content: "►";
    margin-right: 5px;
    font-weight: bold;
    padding: 3px 8px 3px 0;
  }

  li {
    padding: 8px 0;
  }

  a,
  a:hover {
    color: var(--highlight);
  }

  .headerTitle,
  .blogHeaderTitle {
    font-size: 3.875rem;
    font-weight: bold;
    text-transform: none;
    font-family: "Montserrat", sans-serif;
    line-height: 4.75rem;
    margin: 0;
    padding: 17.1875rem 0 0 3.125rem;
    width: 53.75rem;
  }

  .headerSubtitle {
    font-size: 3.125rem;
    color: var(--text-muted);
    margin: 0;
    padding: 1.25rem 0 0 3.125rem;
  }

  .blogHeaderTitle {
    padding: 0;
    text-align: center;
  }

  .hrTitle {
    margin: 0 0 5em 2.5em;
    border-color: var(--highlight);
    border-width: 1.875rem;
    max-width: 11.1875rem;
    text-align: center;
  }

  .container-fluid {
    padding: 0;
  }

  .two-column-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .underline {
    text-decoration: underline;
  }

  #about {
    overflow: hidden;
  }

  .navbar-light .navbar-brand,
  .navbar-light .navbar-nav .nav-link {
    color: var(--text-primary);
    font-size: 1.75rem;
    line-height: 2.125rem;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    padding-right: 2.5rem;
  }

  .navbar-light .navbar-brand {
    font-weight: normal;
    padding-left: 3.125rem;
  }

  .navbar-light .navbar-brand:hover,
  .navbar-light .navbar-nav .nav-link:hover {
    cursor: pointer;
    color: var(--text-primary);
    justify-content: center;
    align-content: center;
  }

  .fa-window-close {
    color: var(--text-muted);
  }

  .fa-window-close:hover {
    color: var(--highlight);
  }
}
