@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli:900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
  height: 100%;
  --highlight: #ff0000;
  --text-primary: #eef0f2;
  --text-muted: #9b9d9f;
  --text-secondary: #141414;
  --background-primary: #141414;
  --background-secondary: #202020;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

h1 {
  margin: 1em 0 0 1em;
  font-size: 2rem;
  font-family: 'Segoe UI', sans-serif;
  text-transform: uppercase;
  font-style: bold;
  line-height: (100 / 1000) * 1em;
}

p {
  font-size: 1rem;
  line-height: (30 / 1000) * 1em;
  letter-spacing: (5 / 1000) * 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  flex: 1;
}

li::before {
  color: var(--highlight);
  content: '►';
  margin-right: 5px;
  font-weight: bold;
  padding: 3px 8px 3px 0;
}

li {
  padding: 8px 0;
}

a,
a:hover {
  color: var(--highlight);
}

table {
  border-collapse: collapse;
  text-align: left;
  font-size: 1rem;
  line-height: (30 / 1000) * 1em;
  letter-spacing: (5 / 1000) * 1em;
}

th {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  background-color: var(--background-secondary);
  font-size: 1rem;
}

td,
th {
  border: 1px solid var(--text-muted);
  padding: 0.15rem;
}

.hrTitle {
  margin: 0 0 2em 2em;
  border-color: var(--highlight);
  border-width: 1.875rem;
  max-width: 11.1875rem;
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.two-column-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.underline {
  text-decoration: underline;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: var(--text-primary);
  font-size: 1.75rem;
  line-height: 2.125rem;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding-right: 2.5rem;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: var(--text-primary);
  justify-content: center;
  align-content: center;
}

.navbar-toggler {
  background-color: var(--text-primary);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--text-primary);
}

.fa-window-close {
  color: var(--text-muted);
}

.fa-window-close:hover {
  color: var(--highlight);
}

.blogGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 525px));
  justify-content: center;
  justify-items: center;
  grid-gap: 2em;
  padding: 1rem;
}

#about {
  overflow: hidden;
}

@media (min-width: 576px) {
  h1 {
    margin: 1em 0 0 1em;
    line-height: (100 / 1000) * 1em;
  }

  p,
  table {
    font-size: 1rem;
    line-height: (30 / 1000) * 1em;
    letter-spacing: (5 / 1000) * 1em;
  }

  th {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
  }

  td,
  th {
    padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  h1 {
    margin: 1em 0 0 0.5em;
    font-size: 4.6875rem;
  }

  p,
  table {
    font-size: 1.25rem;
  }

  th {
    font-size: 1.5rem;
  }

  td,
  th {
    padding: 0.5rem;
  }

  .hrTitle {
    margin: 0 0 2em 2.5em;
  }

  .two-column-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
