@import url("https://fonts.googleapis.com/css?family=Montserrat|Muli:900&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --highlight: #ff0000;
  --text-primary: #eef0f2;
  --text-muted: #bdbfc2;
  --text-secondary: #141414;
  --background-primary: #141414;
  --background-secondary: #202020;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
  margin-left: 3.125em;
  font-size: 4.6875rem;
  font-family: "Segoe UI", sans-serif;
  text-transform: uppercase;
  font-style: bold;
  line-height: 6.25rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0.3125rem;
}

.hrTitle {
  margin: 0;
  margin-left: 3.125em;
  border-color: var(--highlight);
  border-width: 30px;
  max-width: 179px;
  text-align: center;
}
